<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/13cc42a1-6860-4b53-9fb8-a9b2614b0010/resourcegroups/nfcmoneytransfer/providers/Microsoft.Web/sites/NFCMoneyTransferWebAPI20240614162418</ResourceId>
    <ResourceGroup>nfcmoneytransfer</ResourceGroup>
    <ApiResourceId>/subscriptions/13cc42a1-6860-4b53-9fb8-a9b2614b0010/resourceGroups/nfcmoneytransfer/providers/Microsoft.ApiManagement/service/NFCMoneyTransferWebAPIapi/apis/NFCMoneyTransferWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nfcmoneytransferwebapi20240614162418.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>59ab49f1-9561-4c54-9c2a-5ffe5ea4e615</ProjectGuid>
    <MSDeployServiceURL>nfcmoneytransferwebapi20240614162418.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NFCMoneyTransferWebAPI20240614162418</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$NFCMoneyTransferWebAPI20240614162418</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>